@media (hover) , (min-width:0\0) , (min--moz-device-pixel-ratio:0) { 
  .logo:hover {
    color: #F06C64;
  }

  .header__menu_table a:hover {
    color: #F06C64;
  }


  .slider__button:hover {
    -webkit-filter: opacity(25%);
    filter: opacity(25%);
  }

  .slider-next__button:hover {
    -webkit-filter: opacity(25%);
    filter: opacity(25%);
  }

  .menu_link:hover {
    border: solid 1px #F2F2F2;
  }

  .portfolio_item .portfolio_img_size:hover:not(:nth-child(1)),
  .portfolio_item .portfolio_img_size:hover:not(:nth-child(10)) {
    -webkit-transition: all 1s ease-out;
    -moz-transition: all 1s ease-out;
    -ms-transition: all 1s ease-out;
    -o-transition: all 1s ease-out;
    transition: all 1s ease-out;
    background-position: 0 0;
  }

  .portfolio-images .portfolio_item .portfolio_img-10:hover {
    -webkit-transition: all 1s ease-out;
    -moz-transition: all 1s ease-out;
    -ms-transition: all 1s ease-out;
    -o-transition: all 1s ease-out;
    transition: all 1s ease-out;
    background-position: -186px -322px;
  }

  .portfolio-images .portfolio_item .portfolio_img-1:hover {
    -webkit-transition: all 1s ease-out;
    -moz-transition: all 1s ease-out;
    -ms-transition: all 1s ease-out;
    -o-transition: all 1s ease-out;
    transition: all 1s ease-out;
    background-position: 57px -11px;
  }

  .photo:hover {
    cursor: pointer;
  }

  .ico-social_circle:hover {
    border-color: #161616;
  }

  .ico-social_circle:hover {
    border-color: #161616;
  }
}

@media screen and (max-width:1019px) and (min-width:768px) {
  body {
    width: 768px;
  }

  header .wrapper {
    width: 688px;
  }
  /* Slider */
  main .wrapper {
    height: 451px;
  }

  .left {
    top: 50%;
    left: 27px;
  }

  .right {
    top: 50%;
    left: 726px;
  }

  .iphone {
    transform: scale(0.747);
  }

  .vertical {
    top: 53px;
    left: 80px;
  }

  .horisontal {
    top: 150px;
    left: 655px;
  }

  /* Slider Next */

  .iphone-next {
    transform: scale(0.747);
  }

  .vertical-next {
    z-index: 3;
    top: 53px;
    left: 299px;
  }

  .small-left {
    top: 134px;
    left: 194px;
  }

  .small-right {
    top: 134px;
    left: 470px;
  }

  /* Services */

  .services-ico {
    display: grid;
    margin-top: 38px;
    margin-left: 1px;

    grid-template-columns: 353px 300px;
    grid-template-rows: 139px 139px 139px;
  }

  .services-our p {
    max-height: 91px;
  }

  /* Portfolio */

  .portfolio {
    height: 1065px;
  }

  .porfolio-text p {
    font-weight: 300;
    line-height: 30px;
  }

  .portfolio-images {
    grid-template-columns: repeat(3, 217px);
    grid-template-rows: 183px;
  }

  /* About US */

  .about-us {
    min-height: 676px;
  }

  .about-us_photo {
    grid-gap: 20px;
    grid-template-columns: repeat(3, 219px);
    grid-template-rows: 360px;
  }

  .photo_img {
    width: 218px;
    height: 218px;
    background-size: 218px;
  }

  /* Quore */

  .quote {
    min-height: 630px;
  }

  .form__wrapper {
    gap: 20px;
    grid-template-columns: 442px 221px;
  }

  .modal button {
    top: 73%;
    left: 41%;
  }
}

@media screen and (max-width:767px) {
  header {
    display: flex;
    justify-content: center;
    height: 70px;
  }

  .header__menu {
    display: none;
  }

  .header__menu-mobile {
    display: flex;
  }

  .logo {
    margin-top: 24px;
    margin-left: 29%;
    padding-top: 0;
  }

  body {
    width: 375px;
  }

  header .wrapper {
    justify-content: unset;
    width: 375px;
    height: 70px;
    padding: 0;
  }
  /* Slider */
  main .wrapper {
    height: 220px;
  }


  .left {
    top: 42%;
    left: 10px;
  }

  .right {
    top: 42%;
    left: 350px;
  }

  .iphone {
    -webkit-transform: scale(0.37);
    -moz-transform: scale(0.37);
    -ms-transform: scale(0.37);
    -o-transform: scale(0.37);
    transform: scale(0.37);
  }

  .vertical {
    top: 10%;
    left: 12%;
  }

  .horisontal {
    top: 29%;
    left: 88%;
  }

  /* Slider Next */

  .iphone-next {
    -webkit-transform: scale(0.37);
    -moz-transform: scale(0.37);
    -ms-transform: scale(0.37);
    -o-transform: scale(0.37);
    transform: scale(0.37);
  }

  .vertical-next {
    z-index: 3;
    top: 10%;
    left: 40%;
  }

  .small-left {
    top: 26%;
    left: 26%;
  }

  .small-right {
    top: 26%;
    left: 63%;
  }

  /* Services */

  .services-our h2 {
    margin-top: 0;
    padding-top: 25px;
  }

  .services-our p {
    max-height: 205px;
  }


  .services-ico {
    display: grid;
    margin: 25px 0 10px 0;
    grid-template-columns: 300px;
    grid-template-rows: repeat(6, 110px);
  }


  /* Portfolio */

  .about-us_text p {
    overflow: hidden;
    max-height: calc(23pt*7);
  }

  .portfolio {
    min-height: 844px;
    padding: 0 30px 0 30px;
  }

  .porfolio-text p {
    font-weight: 300;
    line-height: 30px;
  }

  .portfolio-images {
    display: grid;
    margin-top: 19px;

    grid-gap: 14px;
    grid-template-columns: repeat(2, 151px);
    grid-template-rows: repeat(4,128px);
  }

  .portfolio_item {
    z-index: 1;
    width: 151px;
    height: 128px;
    border-radius: 3px;
    background-color: #464B5E;
  }

  .portfolio_item .portfolio_img-1 {
    background-position: -43px -62px;
  }

  .portfolio_item > div {
    background-repeat: no-repeat;
    background-position: 0 0;
    background-size: 158% auto;
  }

  .portfolio_item .portfolio_img-10 {
    background-image: url(./assets/img/portfolio/Project-100.png);
    background-position: -72px -68px;
  }

  .portfolio_item .portfolio_img-11 {
    background-position: -72px -110px;
  }


  .portfolio-images :nth-child(n+9) {
    display: none;
  }

  /* About US */

  .about-us {
    min-height: 676px;
  }

  .about-us_photo {
    margin-bottom: 45px;

    grid-gap: 34px;
    grid-template-columns: 314px;
    grid-template-rows: 440px;
  }

  .photo_img {
    width: 314px;
    height: 314px;
    background-size: 314px;
  }

  /* Quore */

  .quote {
    min-height: 1020px;
    padding: 45px 30px 0 30px;
  }

  .form__wrapper {
    gap: 20px;
    grid-template-columns: 315px;
    grid-template-rows: 431px 231px;
  }

  .quote button {
    width: inherit;
  }

  .modal_overlay {
    position: absolute;
    z-index: 100;
    width: 181%;
    height: 120%;
    margin-top: -21%;
    margin-left: -123px;
    padding-top: 3%;
  }

  .discript_mod {
    overflow: hidden;
    max-height: 214px;
  }

  .modal button {
    top: 58%;
    left: 27%;
  }

  .footer__wrapper {
    display: flex;
    justify-content: center;
  }

  .footer__wrapper span {
    display: none;
  }
}

