body {
    max-width: 1020px;
    margin: 0 auto;
    font-family: 'Lato', Verdana, sans-serif;
}

a {
    text-decoration: none;
    color: inherit;
}

h2 {
    margin-top: 0px;
}

article {
    margin-bottom: 0px;
}

.padding-site {
    padding: 0px 40px 0px 40px;
}

.line {
    height: 6px;
}

.portfolio {
    background-color: #2d303a;
    min-height: 864px;
    padding: 0px 30px 0px 40px
}

.porfolio-text h2 {
    padding-top: 57px;
    margin-bottom: 14px;
    text-align: justify;
    color: #666d89;
    font-family: 'Lato', Verdana, sans-serif;
    font-size: 30px;
    font-weight: 900;
    line-height: 1.45;
    letter-spacing: -0.04pt;
}

.porfolio-text p {
    margin-top: 0px;
    margin-bottom: 0px;
    text-align: justify;
    color: #767e9e;
    font-family: 'Lato', Verdana, sans-serif;
    font-size: 18px;
    font-weight: 300;
    line-height: 1.68;
}

.porfolio_menu {
    margin-top: 18px;
}

.porfolio_menu ul {
    list-style-type: none;
    margin-left: -38px;
    margin-top: -8px;
}

.porfolio_menu ul li{
    display: inline-block;
    border: solid 1px #666d89;
    border-radius: 5px;
    margin-right: 7px;
    padding: 0px 6px 0px 6px;
}

.porfolio_menu ul li:before {
    content: "";
    height: 100%;
    vertical-align: middle;
}

.porfolio_menu ul li a{
    font-family: Lato;
    font-size: 12px;
    letter-spacing: -0.04pt;
    text-align: justify;
    color: #767e9e;
}

.portfolio-images {
    display: grid;
    margin-top: 19px;
    grid-template-columns: repeat(4, 220px);
    grid-template-rows: 187px;
    grid-gap: 20px;
}
 
/*Hide elements > 12*/
.portfolio-images :nth-child(n+13) {
    display: none;
}

.portfolio_item {
    width: 220px;
    height: 187px;
    border-radius: 3px;
    background-color: #464b5e;
    z-index: 1;
}

.portfolio_img_size {
    width: inherit;
    height: inherit;
}

.portfolio_item .portfolio_img-1 {
    background-image: url(./assets/img/portfolio/Project-10.png);
    background-position: -8px -11px;
}

.portfolio_item .portfolio_img-2 {
    background-image: url(./assets/img/portfolio/Project-20.png);
    background-position: -82px -43px;
}

.portfolio_item .portfolio_img-3 {
    background-image: url(./assets/img/portfolio/Project-30.png);
    background-position: -11px -1px;
}

.portfolio_item .portfolio_img-4 {
    background-image: url(./assets/img/portfolio/Project-40.png);
    background-position: -24px -2px;
}

.portfolio_item .portfolio_img-5 {
    background-image: url(./assets/img/portfolio/Project-50.png);
    background-position: -10px -16px;
}

.portfolio_item .portfolio_img-6 {
    background-image: url(./assets/img/portfolio/Project-60.png);
    background-position: -16px -4px;
}

.portfolio_item .portfolio_img-7 {
    background-image: url(./assets/img/portfolio/Project-70.png);
    background-position: -31px -39px;
}

.portfolio_item .portfolio_img-8 {
    background-image: url(./assets/img/portfolio/Project-80.png);
    background-position: -24px -32px;
}

.portfolio_item .portfolio_img-9 {
    background-image: url(./assets/img/portfolio/Project-90.png);
    background-position: -16px -2px;
}

.portfolio_item .portfolio_img-10 {
    background-image: url(./assets/img/portfolio/Project-100.png);
    background-position: -141px -113px;
}

.portfolio_item .portfolio_img-11 {
    background-image: url(./assets/img/portfolio/Project-110.png);
    background-position: -144px -175px;
}

.portfolio_item .portfolio_img-12 {
    background-image: url(./assets/img/portfolio/Project-120.png);
    background-position: -36px -60px;
}

.portfolio_line {
    background-color: #323746;
}

.about-us {
    min-height: 728px;
    background-color: #f2f2f2;
}

.about-us_text {
    margin-left: 1px;
}

.about-us_text h2 {
    margin-bottom: 0px;
    margin-left: -1px;
    padding-top: 59px;
    text-align: justify;
    color: #666d89;
    font-family: 'Lato', Verdana, sans-serif;
    font-size: 29.8px;
    font-weight: 900;
    line-height: 1.3;
}

.about-us_text p {
    text-align: justify;
    margin-top: 17px;
    margin-bottom: 44px;
    color: #767e9e;
    font-family: 'Lato', Verdana, sans-serif;
    font-size: 17px;
    font-weight: 300;
    line-height: 23pt;
    letter-spacing: 0.31pt;
}

.about-us_photo {
    display: grid;
    grid-template-columns: repeat(3, 300px);
    grid-template-rows: 300px;
    grid-gap: 20px;
}

.photo_img {
    width: 300px;
    height: 300px;
}

.photo_img-1 {
    background-image: url(./assets/img/about/Adam.png)
}

.photo_img-2 {
    background-image: url(./assets/img/about/Desmond.png);
    margin-left: -1px;
}

.photo_img-3 {
    background-image: url(./assets/img/about/Scolara.png);
}

.photo h3 {
    margin-left: -2px;
    font-family: Lato;
    font-size: 15.1pt;
    font-weight: 900;
    /* font-stretch: normal; */
    /* font-style: normal; */
    line-height: 10pt;
    letter-spacing: -0.9pt;
    color: #666d89;
}

.photo p {
    font-family: Lato;
    margin-top: -9px;
    font-size: 12px;
    font-weight: 400;
    /* font-stretch: condensed; */
    font-style: normal;
    line-height: 16pt;
    letter-spacing: -0.05pt;
    text-align: justify;
    color: #767e9e;
}

.photo_ico-social {
    display: inline-flex;
}

.ico-social_circle {
    display: flex;
    width: 30px;
    height: 30px;
    margin-right: 8px;
    margin-top: 13px;
    border: 1px solid #666d89;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

.ico_social_img-1{
    background-image: url(./assets/img/about/facebook.png);
    width: 8px;
    height: 14px;
    margin: auto;
}

.ico_social_img-2{
    background-image: url(./assets/img/about/google.png);
    width: 14px;
    height: 14px;
    margin: auto;
}

.ico_social_img-3{
    background-image: url(./assets/img/about/twitter.png);
    width: 14px;
    height: 12px;
    margin: auto;
}

.ico_social_img-4{
    background-image: url(./assets/img/about/linkedin.png);
    width: 14px;
    height: 14px;
    margin: auto;
}

.about-us_line {
    background-color: #ffffff;
}