body {
    font-family: 'Lato', sans-serif;
    width: 1020px;
    margin: 0 auto;
}

h2 {
    margin-top: 0px;
}

.padding-site {
padding: 0px 40px 0px 40px;
}

.line {
    height: 6px;
    }

header .wraper {
    background-color: #2d303a;
    justify-content: space-around;
    display: flex;
    height: 94px;
}

.logo {
    padding-top: 40px;
}

.header__menu {

}

.header__menu_table {
    display: inline-block;
}

.table_item {
    padding-top: 20px;
    margin-top: 0;
    display: inline-block;
    font-family: Lato;
    font-size: 12.5px;
    font-weight: bold;
    line-height: 0.56;
    text-align: justify;
    color: #ffffff;
    text-transform: uppercase;
}

header .line {
    background-color: #323746;
}

.slider {
    display: flex;
    height: 594px;
    background-color: #f06c64;

}

.slider__button {

}

.left {

}

.right {

}

.slider__iphone_vertical {

}

.slider__iphone_horisontal {

}

.wraper .line {
    background-color: #ea676b;
}

.our-services h1 {
    font-family: Lato;
    font-size: 29.5px;
    font-weight: 900;
    line-height: 0.62;
    text-align: justify;
    margin-top: 0px;
    padding-top: 70px;
    color: #666d89;
  }

  .our-services p {
    font-family: Lato;
    font-size: 18px;
    font-weight: 300;
    line-height: 1.55;
    text-align: justify;
    margin-top: -2px;
    color: #767e9e;
}

.services_item h2 {
    object-fit: contain;
    font-family: Lato;
    font-size: 17.5px;
    font-weight: 900;
    line-height: 1.33;
    text-align: justify;
    margin-bottom: -5px;
    color: #666d89;
}

.services_item p {
    object-fit: contain;
    font-family: Lato;
    font-size: 12px;
    line-height: 1.83;
    text-align: justify;
    color: #767e9e;
  }

.services-ico {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  width: 953px;
  margin-top: 49px;
}


.services_item {
    display: flex;       
}

.item_text {
    flex-basis: 68%;
    padding-left: 20px;
    margin-top: 0px;
}

.circle {
    display: flex;
    flex-basis: 18%;
    margin-top: 0px;
    width: 60px;
    height: 60px;
    border: 1px solid #666d89;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}


.item__pencil {
    margin: auto;
    background: url(./assets/img/pencil.svg);
    width: 32px;
    height: 32px;
}

.item__lamp {
    margin: auto;
    background: url(./assets/img/lamp.svg);
    width: 22px;
    height: 32px;
}

.item__heart {
    margin: auto;
    background: url(./assets/img/heart.svg);
    width: 32px;
    height: 28px;
}

.item__phone {
    margin: auto;
    background: url(./assets/img/phone.svg);
    width: 22px;
    height: 32px;
}

.item__speech-bubble {
    margin: auto;
    background: url(./assets/img/bubble.svg);
    width: 32px;
    height: 28px;
}

.item__star {
    margin: auto;
    background: url(./assets/img/star.svg);
    width: 31px;
    height: 31px;
}

main .line {
    background-color: #fff;
}