body {
    font-family: 'Lato', sans-serif;
    width: 1020px;
    margin: 0 auto;
}

h2 {
    margin-top: 0px;
}

.padding-site {
padding: 0px 40px 0px 40px;
}

.line {
    height: 6px;
    }

header .wraper {
    background-color: #2d303a;
    height: 94px;
    display: flex;
    justify-content: space-between;
}

.logo {
    padding-top: 40px;
    font-family: Lato;
    font-size: 25px;
    font-weight: 700;
    line-height: 0.28;
    letter-spacing: normal;
    text-align: justify;
    text-transform: uppercase;
    color: #ffffff;
}
      
.logo span:last-child {
    color: #f06c64;
    }

.header__menu {
    padding-left: 219px;
    padding-top: 12px;
}

.header__menu_table {
    display: inline-block;
}

.table_item {
    padding-top: 20px;
    margin-top: 0;
    display: inline-block;
    font-family: Lato;
    font-size: 12.5px;
    font-weight: bold;
    line-height: 0.56;
    text-align: justify;
    color: #ffffff;
    text-transform: uppercase;
}

.table_item::after {
    content: ' . ';
}

header .line {
    background-color: #323746;
}

.slider {
    position: relative;
    background-color: #f06c64;
    height: 594px;
}

.slider__button {
    position: absolute;
}

.left {
    top: 281px;
    left: 42px;
}

.right {
    left: 964px;
    top: 277px;
    transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
}
.slider__iphone{
    position: absolute;
}

.vertical {
    left: 112px;
    top: 53px;
}

.iphone-set {
    position: relative;
}

.base{
    position: absolute;
    z-index: 2;
}

.background_vertical {
    z-index: 3;
    top: 62px;
    left: 11px;
}

.background_horisontal {
    z-index: 3;
    top: 133px;
    left: -60px;
    transform: rotate(-90deg);
    -webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
}

.shadow_vertical {
    z-index: 1;
}

.shadow_horisontal {
    top: -29px;
    z-index: 1;
    transform: rotateX(180deg);
    -webkit-transform: rotateX(180deg);
    -moz-transform: rotateX(180deg);
    -ms-transform: rotateX(180deg);
    -o-transform: rotateX(180deg);
}

.horisontal {
    left: 883px;
    top: 174px;
    transform: rotate(90deg);
}

.wraper .line {
    background-color: #ea676b;
}

.our-services h1 {
    font-family: Lato;
    font-size: 29.5px;
    font-weight: 900;
    line-height: 0.62;
    text-align: justify;
    margin-top: 0px;
    padding-top: 70px;
    color: #666d89;
  }

  .our-services p {
    font-family: Lato;
    font-size: 18px;
    font-weight: 300;
    line-height: 1.58;
    text-align: justify;
    margin-top: -2px;
    color: #767e9e;
}

.services_item h2 {
    object-fit: contain;
    font-family: Lato;
    font-size: 17.5px;
    font-weight: 900;
    line-height: 1.3;
    text-align: justify;
    margin-bottom: -5px;
    color: #666d89;
}

.services_item p {
    object-fit: contain;
    font-family: Lato;
    font-size: 12px;
    font-weight: 400;
    line-height: 1.83;
    text-align: justify;
    color: #767e9e;
  }

.services-ico {
  display: grid;
  grid-template-columns: 4fr 4fr 4fr;
  grid-row-gap: 19px;
  
  margin-top: 47px;
}


.services_item {
    display: grid;
    grid-template-columns: 1fr 3fr; 
    width: 321px;      
}

.item_text {
    padding-left: 21px;
    margin-top: -1px;
}

.circle {
    display: flex;
    flex-basis: 17.4%;
    margin-top: 2px;
    height: 55px;
    border: 2px solid #666d89;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}


.item__pencil {
    margin: auto;
    background: url(./assets/img/pencil.svg);
    width: 32px;
    height: 32px;
}

.item__lamp {
    margin: auto;
    background: url(./assets/img/lamp.svg);
    width: 22px;
    height: 32px;
}

.item__heart {
    margin: auto;
    background: url(./assets/img/heart.svg);
    width: 32px;
    height: 28px;
}

.item__phone {
    margin: auto;
    background: url(./assets/img/phone.svg);
    width: 22px;
    height: 32px;
}

.item__speech-bubble {
    margin: auto;
    background: url(./assets/img/bubble.svg);
    width: 32px;
    height: 28px;
}

.item__star {
    margin: auto;
    background: url(./assets/img/star.svg);
    width: 31px;
    height: 31px;
}

main .line {
    background-color: #fff;
}